In [14]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
# Problem 7.1
df = pd.read_csv("csv/problem-7-1.csv")

<h3>Problem 7.1</h3>
<p>Anda diberi data nilai mahasiswa, Tuliskan:</p>

<ol>
    <li>Banyaknya data.</li>
    <li>Nilai matematika, fisika, dan kimia dari mahasiswa bernama Tuan Wang.</li>
    <li>Banyaknya mahasiswa dengan nilai kimia di atas 60.</li>
    <li>Banyaknya mahasiswa yang mendapat nilai lebih dari 90 di matkul apapun.</li>
    <li>Banyaknya mahasiswa yang mendapat nilai terendah di matematika</li>
    <li>Data 10 besar peserta peraih nilai tertinggi di kimia. Jika ada yang nilainya sama, ambil mahasiswa dengan nama lebih kecil.</li>
    <li>Tabel frekuensi masing-masing fakultas.</li>
    <li>Rata-rata dari nilai fisika semua mahasiswa.</li>
    <li>Standar deviasi dari nilai kimia semua mahasiswa.</li>
    <li>Rata-rata dari nilai matematika FMIPA</li>
    <li>Dengan nilai manakah (matematika / kimia) nilai fisika berkorelasi ? berapa koefisien korelasinya</li>
</ol>

In [16]:
# 1. Banyaknya data
print("Jumlah banyak data:", len(df))

Jumlah banyak data: 9147

In [17]:
# 2. Nilai Mat, Fis, dan Kim mahasiswa bernama Tuan Wang
df.loc[df['nama']=='Tuan Wang']

           nama fakultas  nilai_mat  nilai_fis  nilai_kim
5545  Tuan Wang      FTI         91         83         63

In [18]:
# 3. Banyaknya mahasiswa dengan nilai kimia lebih dari 60
len(df.loc[df['nilai_kim'] > 60])

3161

In [19]:
# 4. Banyaknya mahasiswa yang mendapat nilai lebih dari 90 dari matkul apapun
len(df.loc[ (df['nilai_kim'] > 90) | (df['nilai_fis'] > 90) | (df['nilai_mat'] > 90) ])

2097

In [20]:
# 5. Banyaknya mahasiswa yang mendapat nilai terrendah di matemetika
len(df.loc[df['nilai_mat'] == df['nilai_mat'].min()])

122

In [21]:
# 6. Data 10 besar nilai kimia
df.sort_values(['nilai_kim','nama'], ascending=[False, True])[:10]

                        nama fakultas  nilai_mat  nilai_fis  nilai_kim
7044     Achmad Maulana Gani     FITB         85         99         81
2148      Adhika Dwi Alfonzo    SAPPK         87         98         81
7778      Aditya Agung Putra     FITB         66         98         81
9027        Ahmad Rahman Ali    FMIPA         37         99         81
5743        Akhmad Saifuddin     FTTM         42         99         81
1535  Alyssa Nadhira Windari      FTI         99         99         81
8253       Amalia Nurlatifah     FITB         48         99         81
7802   Amanda Anindita Utami    SAPPK         89         99         81
6437         Amelia Annisa E    FMIPA         74         98         81
5185            Andy Susetyo      FTI         60         99         81

In [22]:
# 7. Tabel frekuensi masing-masing fakultas
df['fakultas'].value_counts()

SAPPK    1864
FITB     1863
FTI      1842
FMIPA    1790
FTTM     1788
Name: fakultas, dtype: int64

In [23]:
# 8. Rata-rata dari nilai fisika semua mahasiswa
df['nilai_fis'].mean()

54.74505302284902

In [24]:
# 9. Standar deviasi dari nilai kimia semua mahasiswa
df['nilai_kim'].std()

17.942244816293957

In [25]:
# 10. Rata-rata nilai matematika FMIPA
df.loc[df['fakultas'] == 'FMIPA']['nilai_mat'].mean()

64.81173184357542

In [26]:
# 11. Dengan nilai manakah (matematika / kimia) nilai fisika berkorelasi? Berapa koefisien korelasinya ?
corr_kim = df['nilai_fis'].corr(df['nilai_kim'])
corr_fis = df['nilai_fis'].corr(df['nilai_mat'])
print(corr_kim, corr_fis)

0.8545321019663653 0.00025465377451187144