In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("csv/problem-7-3.csv")

<h3>Problem 7.3</h3>
<p>Anda diberi data penerbangan, Tentukan:</p>

<ol>
    <li>Banyaknya data</li>
    <li>Data penerbangan yang memiliki harga 1.999.999</li>
    <li>Banyaknya penerbangan dengan harga di atas 3.500.000</li>
    <li>Banyaknya transaksi dari bulan Oktober 2014 sampai April 2015</li>
    <li>Data penerbangan maskapai macan dengan harga minimum</li>
    <li>Data 10 penerbangan rajawali dengan penumpang terbanyak. Jika ada penerbangan yang sama banyak, urutkan berdasarkan harga dari yang termurah</li>
    <li>Tabel frekuensi penerbangan country link masing-masing tahun</li>
    <li>Rata-rata harga jumlah seluruh penerbangan</li>
    <li>Standar deviasi jumlah penumpang maskapai mataram</li>
    <li>Rata-rata daru harga maskapai country link</li>
    <li>Koefisien korelasi jumlah penumpang dan harga</li>
</ol>

In [9]:
# 1. Banyaknya data
len(df)

9962

In [10]:
# 2. Data penerbangan yang memiliki harga 1.999.999
df.loc[df['harga'] == 1999999]

      maskapai asal tujuan  tahun  penumpang    harga
6435  rajawali  SRG    BDO   2017        101  1999999

In [11]:
# 3. Banyaknya penerbangan dengan harga di atas 3.500.000
len(df.loc[df['harga'] > 3500000])

1662

In [12]:
# 4. Banyaknya penerbangan di tahun 2014 dengan asal manapun tujuan kota bukan PDG
len(df.loc[(df['tahun'] == 2014) & (df['tujuan'] != 'PDG')])

2115

In [13]:
# 5. Data penerbangan maskapai macan dengan harga minimum
df5 = df.loc[(df['maskapai'] == 'macan')]
df5.loc[df5['harga'] == df5['harga'].min()]

     maskapai asal tujuan  tahun  penumpang    harga
7121    macan  BTO    BTH   2016         60  1005234

In [14]:
# 6. Data 10 penerbangan rajawali dengan penumpang terbanyak, urutkan dengan harga termurah
df.loc[df['maskapai'] == 'rajawali'].sort_values(['penumpang', 'harga'], ascending=[False, True])

      maskapai asal tujuan  tahun  penumpang    harga
835   rajawali  KNO    BTH   2015        200  2191958
2192  rajawali  BDO    SRG   2016        200  3405316
8102  rajawali  PKU    SRG   2017        200  3969784
1216  rajawali  CGK    SRG   2016        200  3971021
6139  rajawali  PKU    PDG   2017        200  3973524
...        ...  ...    ...    ...        ...      ...
2673  rajawali  JOG    UPG   2014         61  1043461
206   rajawali  KNO    SRG   2015         60  1004882
6045  rajawali  JOG    DPS   2017         60  1005289
2460  rajawali  PKU    BTH   2015         60  1014667
6230  rajawali  KNO    BTH   2015         60  1015907

[1932 rows x 6 columns]

In [15]:
# 7. Tabel frekuensi penerbangan country link masing-masing tahun
df.loc[df['maskapai'] == 'country link']['tahun'].value_counts()

2015    507
2014    502
2017    502
2016    496
Name: tahun, dtype: int64

In [16]:
# 8. Rata-rata harga seluruh penerbangan
df['harga'].mean()

2500099.7133105802

In [17]:
# 9. Standar deviasi jumlah penumpang maskapai mataram
df.loc[df['maskapai'] == 'mataram']['penumpang'].std()

41.18986434514762

In [18]:
# 10. Rata-rata dari harga maskapai country link
df.loc[df['maskapai'] == 'country link']['harga'].mean()

2515655.4907822623

In [19]:
# 11. Koefisien korelasi dari jumlah penumpang dan harga
df['penumpang'].corr(df['harga'])

0.917927324236429