In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('csv/problem-7-4.csv')

<h3>Problem 7.4</h3>
<p>Anda diberi data karyawan. Tentukan:</p>

<ol>
    <li>Banyaknya data</li>
    <li>Data karyawan bernama Tuan Wang</li>
    <li>Banyaknya karyawan dengan usia krang dari atau sama dengan 30</li>
    <li>Banyaknya karyawan personalia dengan gaji di luar rentang 4-5 juta</li>
    <li>Data karyawan produksi dengan gaji minimum</li>
    <li>Data 10 karyawan teknologi dengan gaji terbanyak. Jika ada gaji yang sama banyak, urutkan dari usia yang termuda</li>
    <li>Tabel frekuensi banyaknya karyawan tiap golongan</li>
    <li>Tabel frekuensi banyaknya karyawan tiap departemen yang masuk sebelum 2015.</li>
    <li>Rata-rata gaji seluruh karyawan</li>
    <li>Standar deviasi usia karyawan operasional</li>
    <li>Dengan apakah gaji berkorelasi? Usia, tahun masuk, atau golongan? Tuliskan koefisien korelasinya</li>
</ol>

In [3]:
# 1. Banyaknya data
len(df)

7939

In [4]:
# 2. Data karyawan bernama Tuan Wang
df.loc[df['nama'] == 'Tuan Wang']

           nama departemen  tahun_masuk  usia  golongan     gaji
5319  Tuan Wang  teknologi         2017    31        10  9939125

In [5]:
# 3. Banyaknya karyawan dengan usia kurang dari atau sama dengan 30
len(df.loc[df['usia'] <= 30])

1300

In [6]:
# 4. Banyaknya karyawan personalia dengan gaji di luar rentang 4-5 Juta
len(df.loc[((df['gaji'] < 4000000) | (df['gaji'] > 5000000)) & (df['departemen'] == 'personalia')])

1021

In [7]:
# 5. Data karyawan produksi dengan gaji maksimum
df.loc[df['gaji'] == df['gaji'].max()]

                nama departemen  tahun_masuk  usia  golongan     gaji
7066  Rorytend Samra    kreatif         2013    41         1  9998512

In [8]:
# 6. Data 10 karyawan teknologi dengan gaji terbanyak. Jika ada gaji yang sama banyak. urutkan dari usia yang termuda.
df.loc[df['departemen'] == 'teknologi'].sort_values(['gaji', 'usia'], ascending=[False, True])[:10]

,nama,departemen,tahun_masuk,usia,golongan,gaji
5933,Haryo Edi Wahyupurboyo,teknologi,2013,42,1,9985984
5319,Tuan Wang,teknologi,2017,31,10,9939125
1746,Angela Dradjati Dewiatena,teknologi,2015,41,1,9938528
1877,Risalah Putriani Mirza,teknologi,2014,37,1,9924048
3969,Astri Kastinah Putri,teknologi,2016,39,1,9913684
4102,Jayen Aris Kriswantoro,teknologi,2014,25,1,9904155
6867,Ajeng Puspita,teknologi,2013,44,1,9877126
4024,Ahmad Fauzan Fibriansyah,teknologi,2015,30,1,9876686
1974,Billy Richardo Sagala,teknologi,2015,50,1,9875682
7014,Akbar Prasandhika,teknologi,2015,50,1,9866177

In [9]:
# 7. Tabel frekuensi banyaknya karyawan tiap golongan
df['golongan'].value_counts()

4     819
6     818
5     818
2     813
10    812
3     803
7     787
8     765
1     765
9     739
Name: golongan, dtype: int64

In [10]:
# 8. Tabel frekuensi banyaknya karyawan tiap departemen yang masuk sebelum tahun 2015
df.loc[df['tahun_masuk'] < 2015]['departemen'].value_counts()

produksi       494
marketing      463
operasional    457
personalia     447
keuangan       447
teknologi      432
kreatif        421
Name: departemen, dtype: int64

In [11]:
# 9. Rata-rata gaji seluruh karyawan
df['gaji'].mean()

5454063.010832598

In [12]:
# 10. Standar deviasi usia karyawan operasional
df.loc[df['departemen'] == 'operasional']['usia'].std()

10.40528360989844

In [13]:
# 11. Apakah gaji berkorelasi? Usia, tahun masuk, atau golongan? Tuliskan korelasinya
corr_usia = df['gaji'].corr(df['usia'])
corr_tahun_masuk = df['gaji'].corr(df['tahun_masuk'])
corr_golongan = df['gaji'].corr(df['golongan'])
print(corr_usia, corr_tahun_masuk, corr_golongan)

0.004535809880458935 -0.00010187560881536198 -0.9397051622858397