In [42]:
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv('csv/problem-7-2.csv')

<h3>Problem 7.2</h3>
<p>Anda diberi data transaksi sebuah toko. Tentukan:</p>

<ol>
    <li>Banyaknya data</li>
    <li>Transaksi yang dilakukan oleh Tuan Wang</li>
    <li>Banyaknya transaksi dengan profit diatas 150.000</li>
    <li>Banyaknya transaksi dari bulan Oktober 2014 sampai April 2015</li>
    <li>Data transaksi makanan dengan profit minimun</li>
    <li>Data 10 transaksi alat makan dengan pofit terbesar di tahun 2017</li>
    <li>Tabel frekuensi masing-masing tahun</li>
    <li>Rata-rata profit di bulan Desember 2016</li>
    <li>Standar deviasi dari profit transaksi pakaian</li>
    <li>Rata-rata dari profit transaksi pakaian sebelum tahun 2016</li>
    <li>Koefisien korelasi dan quantity dengan profit</li>
</ol>

In [44]:
# 1.Banyaknya data
len(df)

7959

In [45]:
# 2. Transaksi yang dilakukan Tuan Wang
df.loc[df['nama'] == 'Tuan Wang']

           nama tipe_barang  bulan  tahun  qty  profit
1556  Tuan Wang  elektronik      4   2017    7   12312

In [46]:
# 4. Banyaknya transaksi dari bulan Oktober 2014 sampai April 2015
len(df.loc[((df['bulan'] >= 10) & (df['tahun'] == 2014)) | ((df['bulan'] <= 4) & (df['tahun'] == 2015))])

1162

In [47]:
# 5. Data transaksi makanan dengan profit minimum
df.loc[df['profit'] == df['profit'].min()]

              nama      tipe_barang  bulan  tahun  qty  profit
2496  Heny Hanifah  alat kebersihan      3   2016    1   10007

In [48]:
# 6. Data transaksi alat makan dengan profit terbesar di tahun 2017
df.loc[(df['tipe_barang'] == 'alat makan') & (df['tahun'] == 2017)].sort_values(['profit'], ascending=False)[:10]

                               nama tipe_barang  bulan  tahun  qty  profit
5966             Nida Anbar Rofifah  alat makan      4   2017   20  198079
2036              Mahessa Ramadhana  alat makan      4   2017   20  196638
4100             Binanda Smarta Aji  alat makan      8   2017   20  196255
5622                Trishanty Eka M  alat makan      6   2017   20  195077
3313                  Putri Juliana  alat makan     12   2017   20  194765
4080    Greace Nanda Clara Sihotang  alat makan      9   2017   20  194610
229       Nabiilah Ardini Fauziyyah  alat makan      2   2017   20  193157
7463          Devina Dwiki Octavius  alat makan      9   2017   20  192036
2926                    Agam Muarif  alat makan      1   2017   20  191432
7947  Ahmad Adam Zari Ardi Ramadhan  alat makan      4   2017   20  190732

In [49]:
# 7. Tabel frekuensi masing-masing tahun
df['tahun'].value_counts()

2016    2039
2014    2028
2017    1963
2015    1929
Name: tahun, dtype: int64

In [50]:
# 8. Rata-rata profit di bulan Desember 2016
df.loc[(df['tahun'] == 2016) & (df['bulan'] == 12)]['profit'].mean()

102165.02857142857

In [51]:
# 9. Standar deviasi dari profit transaksi pakaian
df.loc[df['tipe_barang'] == 'pakaian']['profit'].std()

54045.06698145228

In [52]:
# 10. Rata-rata dari profit transaksi pakaian sebelum tahun 2016
df.loc[(df['tipe_barang'] == 'pakaian') & (df['tahun'] < 2016)]['profit'].mean()

104515.56380952381

In [53]:
# 11. Koefisien korelasi dari quantity dengan profit
df['qty'].corr(df['profit'])

0.9758538110359279